---
layout: default
title: Gilt Code Photo Albums
---
<div id="photo_albums" class="main_content">
  {% for category in site.categories %}
    {% if category.first == "gallery" %}
      {% for gallery in category.last %}
        <a href="{{ gallery.url }}" class="album_thumb">
          <img src="{% if gallery.photos.first contains '\/' %}{% else %}/gallery/images/{% endif %}{{ gallery.photos.first }}"/>
          {{ gallery.title }}
        </a>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>