/* Reset */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
/* End Reset */

html {
  background-color: #212121;
  color: white;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
div#header {
  background-color: #212121;
  padding: 2px 0 5px;
}
div#navbar a {
  background: url(/images/logo.png) no-repeat;
  display: block;
  height: 55px;
  text-indent: -9999px;
  width: 171px;
}
div#wrapper, div#navbar {
  margin: 0 auto;
  width: 925px;
}
div.main_content {
  float: left;
  padding: 10px;
  width: 592px;
}
div.sidebar {
  float: right;
  padding: 10px;
  width: 283px;
  border-left: 1px solid #d9d9d9;
}
div.main_content h1, div.sidebar h1 {
  font-size: 120%;
  font-weight: bold;
  border-bottom: 1px solid #444;
}
a, a:hover, a:active, a:visited {
  color: #00ccff;
  font-size: 90%;
}
div.big_x {
  position: absolute;
  margin: -300px -210px;
  top: 50%;
  left: 50%;
  font-size: 600px;
  line-height: 600px;
  display: none;
}

/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
/* End Clearfix */

/* Post */
img.author_avatar {
  float: left;
}
div.author {
  float: left;
  margin-left: 10px;
}
div.author h1 {
  font-size: 120%;
  font-weight: bold;
}
div.author h2 {
  font-style: italic;
}
div.author h3 {
  font-size: 70%;
}
div.content {
  clear: both;
  float: left;
  padding: 10px;
  width: 905px;
  border-bottom: 1px solid #d9d9d9;
}
div.tags {
  float: right;
  font-size: 70%;
}
div.footer {
  float: left;
}
#disqus_thread {
  float: left;
  clear: left;
  margin-top: 20px;
}
a.dsq-brlink {
  float: left;
  clear: left;
}
/* End Post */