---
layout: default
title: Gilt Code Events
---
<div id="events_category" class="main_content">
{% for blog_category in site.categories %}
  {% if blog_category.first == "events" %}
    {% assign event = blog_category.last.first %}
    <img src="http://www.gravatar.com/avatar/{{ event.gravatar_hash }}?s=58" class="author_avatar" />
    <div class="author">
      <h1>{{ event.title }}</h1>
      <h2><a href="/developer/{{ event.author }}">{{ event.author }}@gilt.com</a></h2>
      <h3>{{ event.date | date_to_string }}</h3>
    </div>
    <div class="content">
      {{ event.content }}
    </div>
    <iframe src="https://www.google.com/calendar/hosted/gilt.com/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York" style=" border-width:0; margin-top: 10px;" width="600" height="600" frameborder="0" scrolling="no"></iframe>
  {% endif %}
{% endfor %}
</div>